*{
margin: 0;
padding: 0;
}
nav{
    height: 100px;
    background-color: #c2c2c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

li{
    display: inline;
    margin: 20px;
}

.Logo{
width: 80px;
height: 80px;
}

nav a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding: 10px 20px;
    transition: .3s ease;

}

.active{
    background: orange;
    border-radius: 100px;
    color: #fff;
}
nav a:hover{
    background: orange;
    color: #fff;
    border-radius: 100px;
}

.Menu{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: none;
}


.location-icon{
    width: 20px;
    height: 20px;
}


@media screen and ( max-width:900px){
    nav{
        padding: 10px;
    }
    .Menu{
        display: block;
    }
    ul{
        display: none;
        width: 100%;
        background-color: #c2c2c2;
        /* margin-top: 300px; */
        position: absolute;
        top: 120px;
        padding: 0;
        transition: .3s ease-in-out;
    }

    li{
        display: block;
       
    }

    .show{
        display: block;
    }
}

.container{
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; */
  height: 80vh;
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  /* align-items: center; */
  margin:  0 auto;

}

/* .container div{
    width: 50%;
} */

.Images {
   background-image: url(Images/Img1.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

#P1{ 
margin-left: 30px; 
margin-top: 40px;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* align-self: start; */
text-align: justify;
margin-right: 20px;
/* text-decoration: underline; */
/* text-decoration-color: rgb(205, 11, 11); */
/* font-family: monospace; */
}
@media screen and (max-width:900px){
.container{
   grid-template-columns: auto;
}

#P1{
    font-size: 18px;
}

.Images{
    height: 600px;
    margin: 20px;
}
}

/* .text{
    display: flex;
    justify-content: center;
    align-items: center;
} */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #c2c2c2;
    margin-top: 50px;
    color: #fff;
    font-size: 20px;
}

